@charset "utf-8";

/* 한글 SUIT */
@font-face {
   font-family: 'SUIT';
   src: url(../fonts/SUIT-Bold.woff2);
   font-weight: 700;
}
@font-face {
   font-family: 'SUIT';
   src: url(../fonts/SUIT-Medium.woff2);
   font-weight: 500;
}
@font-face {
   font-family: 'SUIT';
   src: url(../fonts/SUIT-Regular.woff2);
   font-weight: 400;
}

/* 한글 KOPUBWORL돋움*/
@font-face {
	font-family: 'Kopubworld';
	font-weight: 300;
	font-display: swap;
	src: url(../fonts/KoPubWorld\ Dotum\ Light.ttf);
}
@font-face {
	font-family: 'Kopubworld';
	font-weight: 400;
	font-display: swap;
	src: url(../fonts/KoPubWorld\ Dotum\ Medium.ttf);
}
@font-face {
	font-family: 'Kopubworld';
	font-weight: 700;
	font-display: swap;
	src: url(../fonts/KoPubWorld\ Dotum\ Bold.ttf);
}


/* 영문 Montserrat */
@font-face {
   font-family: 'Montserrat';
   src: url(../fonts/Montserrat-Bold.woff2);
   font-weight: 700;
}
@font-face {
   font-family: 'Montserrat';
   src: url(../fonts/Montserrat-ExtraBold.woff2);
   font-weight: 800;
}
@font-face {
   font-family: 'Montserrat';
   src: url(../fonts/Montserrat-Medium.woff2);
   font-weight: 500;
}
@font-face {
   font-family: 'NotoSansKR';
   src: url(../fonts/NotoSansKR/NotoSansKR-Regular.ttf);
   font-weight: 400;
}
@font-face {
   font-family: 'NotoSansKR';
   src: url(../fonts/NotoSansKR/NotoSansKR-Medium.ttf);
   font-weight: 500;
}
@font-face {
   font-family: 'NotoSansKR';
   src: url(../fonts/NotoSansKR/NotoSansKR-SemiBold.ttf);
   font-weight: 700;
}
@font-face {
   font-family: 'NotoSansKR';
   src: url(../fonts/NotoSansKR/NotoSansKR-Bold.ttf);
   font-weight: 700;
}
