@charset "utf-8";
:root{
   --main-color: #004BA9;
   --main-backColor:#f8f9fa;
   --hover-color: #5540b8;
   --yellow-color:#fee879;
   --black-color: #3c3744;
   --gray-color: #ced4da;
   --white-color: #fdfffc;
}
body{
   overflow-x: hidden;
   font-family: 'Pretendard','SUIT', sans-serif;
   background: var(--main-backColor);
}

h2 {
   font-size: 40px; font-weight: 700;
   font-family: 'helvetica', 'cere'
}

.screenOut{
   display: block; overflow: hidden;
   width: 0; height: 0;
}

.inner {max-width: 100%; padding: 2% 3%;}

a, button{cursor: none;}

.cursor{
   background: var(--main-color);
   width: 12px; height: 12px;
   position: fixed; left: 10px; top: 10px;
   z-index: 9999;
   border-radius: 50%;
   transform: translate(-50%, -50%) ;
   pointer-events: none;
   display: flex; align-items: center; justify-content: center;
   color: var(--main-color);
   font-weight: bold;
}


/* selection allName/ nameSub/ strong/ p 공통 */

.allName{
   display: flex; flex-direction: column; gap: 20px;
   font-size: 40px; padding: 30px 0;
}

.allName .nameSub strong{
   display: block; margin-bottom: 10px;
   font-size: 24px; font-weight: 500;
   color: var(--main-color);
}

.allName .nameSub p{font-size: 22px; }

button{background: none; border: none;}

a {
   text-decoration: none;
   color: var(--black-color);
}


@media screen and (min-width: 1680px) { .inner {padding: 20px 5%;}}

/* header */
header{
   position:fixed; left: 0; right: 0;top: 0;
   z-index: 100; color: var(--white-color);
   font-weight: 500;
   text-align: center;
}
header.on {
   background: var(--white-color);
   color: var(--black-color);
   height: 400px;
}
header.on a>i{color: var(--black-color);}
header.on li, .dep2Wrap{
   animation: gnbwidth 0s linear forwards;
}
@keyframes gnbwidth{
   from{
      width: 150px;
   }
   to{
      width: 200px;
   }
}


header h1 a{
   display: block; width: 190px; height: 26px;
   background: url(../img/common/h1_logo.png) no-repeat center;
   overflow: hidden;
}

.headerNav{
   display: flex; align-items: center; justify-content: space-between;
   overflow: hidden; text-align: center;
   box-sizing: border-box;

}

/* nav 라인 */
header.on:hover .headerNav::before {
   content: '';
   background: #ddd; height: 1px;
   z-index: 10;
   position: absolute; left: 0;right: 0; top: 66px;
   cursor: none;
}

#gnb .listBox{
   display: flex; text-align: center;
   align-items: center; justify-content: center;
}

#gnb .listBox>li {
   display: flex; width: 150px;
   align-items: center; justify-content: center;
}

.listBox li a{font-weight: 500; font-size: 20px;}

.listBox .dep2Wrap{
   display: none; align-items: center;
   width: 150px; height: 280px; padding: 20px 5px;
   position: absolute; top: 66px;
   font-size: 16px;
   border-left: 1px solid #ccc;

}

.listBox .dep2Wrap .dep2 {
   display: flex; flex-direction: column;
   gap: 15px; margin: auto;
}

.listBox>li:last-child .dep2Wrap{border-right: 1px solid #ccc; height: 280px;}

header .util{
   display: flex; gap: 5px;
   align-items: center; justify-content: center;
}

header .util button a{
   font-size: 20px;
   box-sizing: border-box;
}

.util .langWrap>button{
   display: flex; align-items: center;
   font-size:18px;
   z-index: 999;
   transition: all 0.3s;
   position: relative;
   font-weight: 500; font-size:18px;
   box-sizing: border-box;
   color: var(--black-color);
}

.util .langWrap ul{
   display: flex; flex-direction: column; gap: 14px;
   align-items: center;
   position: absolute; right: 9%; top: 66px;
   transform: translateX(-9%);
   padding: 10px 20px;
   opacity: 0;
   background: rgba(255, 255, 255, 0.8); color: var(--black-color);
   border: 1px solid #e0e0e0; border-radius: 8px;
   transition: all 0.3s; font-size: 20px;
   z-index: 999;
}

.util .langWrap ul.open{opacity: 1; }
.util .langWrap a{display: flex; align-items: center; font-size:18px;}
.util button a i{font-size: 26px;}

.hamburger_open{display: none;}

.hamburger {
   display: none;
   background: rgba(0, 0, 0, 0.8);
   position: absolute; top: 0px;left: 0;right: 0;
   height: 100vh; overflow: hidden;
}
.hamburger .hamburger_close i{
   position: absolute; right: 3%;top: 10px;
   font-size: 40px;
   color: var(--white-color);
}
.burgerMenu .burgerDep2{
   display: flex; flex-direction: column; gap: 50px;
   align-items: center; justify-content: center;
   position:absolute; left: 50%;bottom: 50%;
   transform: translate(-50%, 50%);
}

.burgerDep2 .bugerList{
   display: flex; flex-direction: column;
   align-items: center; justify-content: center; gap: 10px;}

.burgerDep2 .bugerList>a {
   font-size: 30px; font-weight: bold;
   line-height: 40px;
   color: rgba(255, 255, 255, 0.8);
   }
.burgerMenu .burgerDep2 a:hover {color: var(--main-color);}

.burgerDep2 .burgerItem{
   display: flex; flex-direction: column;
   align-items: center; gap: 10px;
   font-size: 18px; font-weight: 400;
   color: var(--gray-color);
}

.burgerItem ul>li{ display: none;}

@media screen and (max-width: 1440px) {
   .listBox li a {font-size: 18px;}
   .util .langWrap>button{font-size: 18px;}
   .util .langWrap a{font-size:14px;}
}

@media screen and (max-width: 1280px) {
   #gnb, .util>div {display: none;}
   .hamburger_open{display: flex; font-size: 20px;}

}


/* main - visual */
.mainVisual .mainVideo{
position: relative; overflow: hidden; height: 100vh;
}
.mainVideo .swiper-slide {
display: flex;justify-content: center; align-items: center;
font-size: 18px; text-align: center;
background: var(--white-color);height: 100%;

}

.mainVideo .swiper-slide  video {
   display: block;
   width: 100%; height: 100%;
   object-fit: cover;
}
.mainVideo .swiper-pagination {bottom: 30px;}
.mainVideo .swiper-pagination .swiper-pagination-bullet {background: var(--white-color); }
.mainVideo .swiper-pagination .swiper-pagination-bullet-active{background: var(--white-color);}

.mainVideo .autoplay-progress {
   display: flex; align-items: center; justify-content: center;
   position: absolute; right: 30px; bottom: 30px;
   width: 50px; height: 50px;
   font-weight: bold;
   color: #ccc; z-index: 10;
}

.mainVideo .autoplay-progress svg {
   --progress: 0;
   position: absolute;left: 0;top: 0;
   z-index: 10;
   width: 100%;height: 100%; stroke-width: 4px;
   stroke: #ccc; fill: none;
   stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
   stroke-dasharray: 125.6;
   transform: rotate(-90deg);
}

/* field */

#field{height: 100vh; position: relative;}
#field .fieldBox .allName{height: 150px;}

#field .allName strong{
   display: inline-block; padding: 0 10px 10px 0;
   color: var(--black-color);
   font-size: 28px; font-weight: bold;
}

.fieldBox .nameSub p{font-size: 22px; line-height: 25px;}

.field_content {
   display: flex; gap: 20%;
   align-items: center;
   }

.field_content .buttonLi {
   display: flex; flex-direction : column;
   justify-content: center; align-items: center;
   gap: 10px;
}

.fieldBox .buttonLi button{
   width: 200px; height: 60px; text-align: center;
   border: 1px solid var(--black-color); border-radius: 50px;
   font-size: 20px;
}

.fieldSwiper .fieldWrapper {display: flex; align-items: center;}

.nameSub2,.swiper2 {display: none;}

.fieldSwiper .fieldWrapper .swiper-slide{
   display: flex; align-items: center; height: 600px;
   transform: translateX(10px);
   padding: 40px 0;
}

.fieldWrapper .swiper-slide img {
   cursor: none;
   width: 75%; height: 75%;
   object-fit: cover;
   border-radius: 45px;
   box-shadow: 0 2px 10px 0px #848484;
}

.fieldSwiper .swiper-slide-active img {width: 100%; height: 100%;}
.fieldSwiper .swiper-pagination {text-align: start; transform: translateX(22%);}
.fieldSwiper .swiper-pagination .swiper-pagination-bullet {background: #848484;}

@media screen and (max-width: 1800px) {
   .fieldBox .nameSub p{font-size: 20px;}
   .fieldBox .buttonLi button{font-size: 18px; padding: 10px;}
   .fieldSwiper .fieldWrapper .swiper-slide{width: 500px; height: 450px;}
}

@media screen and (max-width: 1439px) {
   .fieldBox .nameSub p{font-size: 18px;}
}
@media screen and (max-width: 840px) {
   .field_content{display: flex; flex-direction: column;}
   .field_content .buttonLi{flex-direction : row;}
   .fieldBox .buttonLi button{
      width: 180px; height: 50px;
      font-size: 16px;
   }
   .fieldSwiper .fieldWrapper {width: 800px;}
   .fieldSwiper .swiper-pagination {text-align: start; transform: translateX(50%);
}
}
@media screen and (max-width: 640px) {
   .fieldBox .nameSub p{font-size: 16px; line-height: 25px;}
   .field_content .buttonLi{gap: 8px;}
   .fieldBox .buttonLi button{
      width: 120px; height: 50px;font-size: 14px;}
   .fieldSwiper .fieldWrapper {width: 950px;}
   .fieldSwiper .swiper-pagination {text-align: start; transform: translateX(22%);
   }
}



/* color */
#color{height: 100vh; width: 100%;}
#color .allName{margin-top: 60px;}
#color .inner{height: 100%; position: relative; overflow-x: hidden;}
#color img{
   position: absolute; left: 50%; bottom: 50px;
   transform: translateX(-50%);
   margin: auto; width: 600px; height: 400px;
   object-fit: cover;
}

.colorPop .popText{
   display: flex; flex-direction: column; gap: 20px;
   justify-content: center; align-items: center;
   position: absolute; left: 0 ; right: 0;top: 10%;
   font-size: 40px;
}

.colorPop .popText strong {
   font-size: 45px; font-weight: bold;
   color: var(--main-color);
}

.colorPop .popText .viewMore2 a{
      display: flex; justify-content: center; align-items: center;
      color: var(--black-color);
      width: 180px; height: 50px;
      font-size: 20px;
      border: 1px solid var(--black-color);border-radius: 50px;
      margin-top: 10%;
}

.colorPop .popImg{
   position: absolute; left: 50%; top: 80%;
   transform: translate(-50% -80%);
   border: 1px solid var(--black-color);
   transition:  transform 0.5s ease;
   z-index: -10;
}

@media screen and (max-width: 1440px) {
   .colorPop .popText p{font-size: 38px;}
   .colorPop .popText p strong{font-size: 42px;}
   }
@media screen and (max-width: 1024px) {
   .colorPop .popText p{font-size: 34px;}
   .colorPop .popText p strong{font-size: 38px;}
   }
@media screen and (max-width: 960px) {
   .colorPop .popText p{font-size: 28px;}
   .colorPop .popText p strong{font-size: 35px;}
   .colorPop .popText .viewMore2 a{
      width: 150px; height: 40px;
      font-size: 18px;
   }
   }
@media screen and (max-width: 720px) {
   .colorPop .popText p{font-size: 22px;}
   .colorPop .popText p strong{font-size: 30px;}

   }
@media screen and (max-width: 640px) {
   .colorBox .nameSub p {font-size: 20px;}

   }
@media screen and (max-width: 540px) {

   .colorBox .nameSub p {font-size: 16px;}
   .colorPop .popText p{font-size: 18px;}
   .colorPop .popText p strong{font-size: 25px;}
   .colorPop .popText .viewMore2 a{width: 150px; font-size: 16px;}
   }



/* business */
#business {height: 100vh;}

#business .inner {
   display: flex; padding: 0;
   height: 100%;
}

/* business - companLeft */
.companyLeft {
   display: flex;
   align-items: center;
   justify-content: center;
   width: calc(100% / 2);
   height: 100vh;
}

.companyLeft img {
   width: 400px; height: 400px;
   object-fit: cover;
}

.companyLeft .allNameIn {
   display: flex; gap: 10px;
   flex-direction: column;
   align-items: flex-start;

}
.companyLeft .allNameIn h2{font-size: 80px;}

.companyLeft .allName2 .allNameIn p{
   font-size: 24px;
   margin: 10px 0;
   color: var(--main-color);
}

.companyLeft .allNameIn span {
   display: block;
   font-size: 24px;
   line-height: 28px;
}

.companyLeft .allName2_sub button a{
   display: flex;
   align-items: center;
   justify-content: center;
   color: var(--black-color);
   font-size: 20px;
   border-bottom: 1px solid var(--black-color);
   padding: 2% 0;
}

.allName2_sub{display: none; padding: 50px;}
.allName2_sub .allNameIn2{
   display: flex; gap:10px;
   flex-direction: column;
   align-items: center;
   text-align: center;
   line-height: 22px;
}

.allNameIn2 h3 {font-size: 30px;}
.allNameIn2 span{line-height: 24px; margin: 10px 0;}

/* business - companyRight */
.companyRight{width: calc(100% / 2);}

.companyWrapper .companySlide img{
   width: 100%; height: 100vh;
   object-fit: cover;
}
.companyWrapper .companySlide:nth-child(2) img{filter: grayscale(100%);}
@media screen and (max-width: 1440px) {
.companyLeft .allName2 .allNameIn p{font-size: 24px;}
.companyLeft .allName2 .allNameIn span {font-size: 14px;}
}

@media screen and (max-width: 640px){
   #business .inner{flex-direction: column;}
   .companyLeft{width: calc(100%)}
   .allNameIn h2{margin-bottom: 20px;}
   .companyRight{display: none;}
}


/* news */
#news {height: 50vh;}
#news .inner{
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;

}

.newsBox {
   display: flex; align-items: center;
   justify-content: space-between;
   width: 80%;
   margin: auto;
   padding: 10px 0;
}
.newsBox a{color: var(--black-color);}

.newsBox .newTab, .newTab ul{
   display: flex; align-items: center;
   gap: 30px; height: 100%;
   flex-direction: column;
   font-size: 28px;
   white-space: nowrap;
}

.newsBox .newTab .viewMore a{
   font-size: 20px; padding: 2% 0;
}

.newsBox .newTab ul {width: 200px;}

.newsBox .newTab li:hover {
   font-size: 30px;
   font-weight: bold;
   color: var(--main-color);
}

.newsBox .newList {
   display: flex;  flex-direction: column; align-items: center;
   flex-shrink: 1; flex-grow: 1; width: 100%;


}

.newsBox .newList .article {
   display: none;
   flex-direction: column;
   font-size: 20px;
   width: 80%;
}
.newsBox .newList .article.show {display: flex; box-sizing: border-box;}
.newsBox .newList li {border-bottom: 1px solid #797979;}
.newsBox .newList li a {
   display: flex;
   justify-content: space-between;
   padding: 10px;
}


.newsBox .newList li .listName {
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
}

.newsBox .newList li .date {
   flex-shrink: 0; font-size: 18px;
   text-align: end;
}

.newsBox .newTab .viewMore a{display: block;font-size: 20px;}

@media screen and (max-width: 1440px) {
   .newsBox .newTab li a {font-size: 28px;}
   .newsBox .newTab li a:hover {font-size: 30px;}
}

@media screen and (max-width: 1024px) {
   .newsBox .newTab li a {font-size: 24px;}
   .newsBox .newTab li a:hover {font-size: 26px;}
}

@media screen and (max-width: 960px) {
   .newsBox .newTab li a {font-size: 22px;}
   .newsBox .newTab li a:hover {font-size: 24px;}
   .newList .listName {font-size: 20px;}
   .newList .date {font-size: 18px;}
}
@media screen and (max-width: 840px) {
   .newsBox {
      flex-direction: column;
      align-items: center;
      gap: 24px;
      position: relative;
   }

   .newsBox .newTab ul {flex-direction: row;
      width: 100%; gap: 15px;
      text-align: center;
      align-items: center;
      font-size: 25px;
   }
   .newsBox .newTab li:hover{
      font-size: 26px;
   }
   .newsBox .newTab .viewMore{
      display: block; color: var(--black-color);
      position: absolute; bottom: -50px; right: 0;
      font-size: 18px;
   }


   .newList .listName {font-size: 20px;}
   .newList .date {font-size: 18px;}
   .newsBox .newTab .viewMore a{font-size: 16px;}

}

/* customer */
#customer {height: 100vh; font-family: 'Kopubworld','SUIT','Pretendard', sans-serif;}

#customer .customerBox  {
   height: 80%; overflow: hidden;
   display: flex; gap: 50px; align-items: flex-start;
   margin-left: 10%;
   position: relative; top: 20%;
   background: var(--main-color);
   border-radius: 180px 0 0 180px;
}

.customerBox .boxTitle{
   display: flex; gap: 20px;
   flex-direction: column;
   align-items: flex-end; justify-content: center;
   white-space: nowrap;
   color: var(--white-color);
   margin: 10% 5%;
}

.customerBox .boxTitle strong{font-size: 100px;}
.customerBox .boxTitle p{font-size: 24px;}

.customerBox .textBox {
   display: flex; gap: 30px; justify-content: center;
   position: absolute; right: 5%; top: 0;
}
.customerBox .boxtext{
   width: 420px; height: 450px;
   background: var(--white-color);
   border-radius: 0px 0px 50px 50px
}

.customerBox .boxtext a{
   display: flex; flex-direction: column; gap: 20px;
   justify-content: center; color: var(--black-color);
   padding: 50px 8%; margin-top: 5%;
}
.customerBox .boxtext a i{color: var(--main-color); object-fit: cover;}

.customerBox .boxtext .textName{
   color: var(--main-color);
   font-size: 30px; font-weight: 700;

}
.customerBox .boxtext .textSub{
   font-size: 24px; padding-bottom: 10px;
}
.customerBox .boxtext a span{
   text-align: justify; line-height: 1.5;
   font-size: 22px;

}

.flow_content_wrap{position: absolute; bottom: 0; z-index: 1;}
.flow_content_wrap .flow_content{display: flex;}
.flow_content_wrap p{
   margin-right: 20px ;
   white-space: nowrap;
   font-size: 180px; font-weight: 700;
   color: #fff; opacity: 0.2;
   animation: flow 20s infinite linear;
}
.blankBox {
   position: relative; transform: translateY(-50%);
   background: #ced4da; height: 400px; z-index: -1;
}
@keyframes flow {
   form {transform: translateX(0%);}
   to {transform: translateX(-100%);}
}

@media screen and (max-width: 1780px) {
   .customerBox .boxTitle strong{font-size: 100px;}
   .customerBox .boxTitle p{font-size: 24px;}
   .customerBox .boxtext{width: 400px; height: 400px; overflow: hidden;}
   .customerBox .boxtext .textName{font-size: 28px; }
   .customerBox .boxtext .textSub{font-size: 22px; padding-bottom: 20px;}
   .customerBox .boxtext a span{line-height: 24px; font-size: 22px;}
}

@media screen and (max-width: 1680px) {
   .customerBox .boxTitle strong{font-size: 90px;}
   .customerBox .boxTitle p{font-size: 22px;}
   .customerBox .boxtext{width: 350px; height: 370px; overflow: hidden;}
   .customerBox .boxtext .textSub{font-size: 22px; padding-bottom: 20px;}
   .customerBox .boxtext a span{line-height: 22px; font-size: 18px;}
}

@media screen and (max-width: 1440px) {
   .customerBox .boxTitle strong{font-size: 80px;}
   .customerBox .boxTitle p{font-size: 22px;}
   .customerBox .boxtext{width: 320px; height: 350px; overflow: hidden;}

}

@media screen and (max-width: 1240px) {
   .customerBox{display: flex; flex-direction: column; }
   .customerBox .boxTitle{align-items: flex-start; padding: 10px 20px;}
   .customerBox .boxtext{width: 450px; height: 300px;}
   .customerBox .textBox{top: 55%; transform: translateY(-55%);}
   .customerBox .boxtext {border-radius: 50px;}


}


@media screen and (max-width: 960px) {
   .customerBox .boxtext{width: 300px; height: 320px;}

}

@media screen and (max-width: 640px) {
   #customer .customerBox  {margin-left: 0; border-radius: 0 0 0 0}
   #customer .customerBox .textBox{
      right: 50%; left: 50%;
      flex-direction: column; align-items: center;
   }
   .textBox .boxtext {
      width: 300px;height: 100%;
      border-radius: 30px;

   }
   .textBox .boxtext a{
      text-align: center;
      padding: 20px 5%;


   }
   .textBox .boxtext a .textName{font-size: 24px;}
   .textBox .boxtext a .textSub{font-size: 20px; padding-bottom: 5px; }
   .boxtext a span {display: none;}
   .flow_content p {font-size: 140px;}
}

/* footer */

footer{background: var(--main-backColor);}
footer a{color: var(--black-color);}
.footerBox {
   display: flex; justify-content: space-between;
   align-items: flex-start;
   padding: 20px 0; height: 100%;
   }
.footerLeft{
   display: flex; flex-direction: column;
   gap: 20px; justify-content: space-between;
   align-items: flex-start;
}

.footerLeft .topLeft{display: flex; align-items: center; gap: 20px;}

.footerLeft .infroInk a{font-weight: 500;}
.familyWrap {position: relative;}
.familyWrap button{
   display: flex; gap: 5px;
   align-items: center; justify-content: center;
   width: 180px; height: 50px;
   font-weight: bold;
   border: 1px solid #4d4d4d; border-radius: 5px;
   padding: 20px 10px;
}

.familyWrap button i{
   color: var(--black-color); font-size: 20px;
   transition: all 0.3s;
}
.familyWrap button.turn i{transform: rotate(180deg);}

.familyWrap ul {
   display: none; overflow: auto;
   position: absolute; left: 50%; bottom: 60px;
   transform: translateX(-50%);
   font-size: 16px; line-height:25px;
   height:  120px; padding: 10px 50px;
   white-space: nowrap; text-align: center;
   background: var(--main-backColor);
   border-radius: 5px;
}

.familyWrap ul::-webkit-scrollbar{width: 0px;}
.familyWrap ul li:hover{text-decoration: underline 1px #4d4d4d;}

.footerTop .logo img{width: 190px; height: 26px;}
.footerMi {font-size: 15px; line-height: 24px;}
.footerMi p{font-size: 12px; padding-top: 20px;}

.footerRight {

   color: var(--gray-color);
   display: flex; flex-direction: column; gap: 10px;
   align-items: center; justify-content: flex-end;
   }

.footerRight .sns{
   display: flex; align-items: center; justify-content: space-between; width: 100%;
}
.footerRight .sns li{
   width: 50px; height: 50px; border-radius: 50px;
   background: rgba(0, 0, 0, 0.2);
   position: relative;
}
.footerRight .sns li a{
   display: block; font-size: 20px;
   position: absolute; left: 50%; top: 50%;
   transform: translate(-50%, -50%);
}


.footerLeft .topLeft {flex-direction: column;font-size: 14px;}
.footerMi {font-size: 12px; line-height: 20px;}
.footerMi p{font-size: 10px; padding-top: 5px;}
.footerRight .familyWrap {
   /* position:absolute; left: 50% ;top: 5px; transform: translate(-50%, -5px); */
   border-bottom: 1px solid #797979; margin-bottom: 20px;
}
.footerRight .familyWrap ul{padding: 10px 70px}
.footerRight .familyWrap button{
   gap: 20px; border: none; width: 220px; height: 50px; padding-left: 20px;
}
.footerRight .sns{justify-content: center; gap: 10px; margin-top: 20px;}
.footerRight .sns li{width: 40px; height: 40px; }
.footerRight .sns li a{font-size: 18px; }

@media screen and (max-width: 1024px) {
   .topLeft .infroInk {white-space: nowrap;}
   }

   @media screen and (max-width: 640px) {
   .footerBox{
      flex-direction: column; align-items: center; justify-content: center;
      height: 300px; text-align: center; margin: 5px 0;
      position: relative;
   }
   .footerBox .footerLeft{align-items: center;}
}